<form action="/team/<%= teamName %>" method="post">
  <input type="text" placeholder="User Name" name="userName"/>
  <input type="password" placeholder="Password" name="password"/>
  <input type="submit" value="Login"/>
</form>
