html,body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.main-container {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  width: 100%;
  height: 100%;
}

#top-nav-bar {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #007070;
}

#content-container {
 margin: 0;
 position: relative;
 top: 40px;
 width: 100%;
 height: 100%;
}

#left-container {
 margin: 0;
 padding: 0;
 position: absolute;
 left: 0;
 top: 0;
 height: 100%;
 width: 15%;
 background: #012255;
}

#right-container {
 margin: 0;
 position: relative;
 left: 15%;
 height: 100%;
 width: 85%;
 overflow-y: hidden;
}

.message-list-container {
  margin: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 90px;
  width: 100%;
  overflow-y: hidden;
}

.message-list {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-container {
  padding-top: 5px;
  padding-left: 10px;
  width: 100%;
  background: #F8F8F8;
}

.message-box-container {
  margin-right: 100px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 5px;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 50px;
  background: #E6E6FA;
}

#team-des-area {
  width: 100;
  height: 100px;
  background: green;
}

.user-display {
  width: 100%;
  background: blue;
  margin-top: 2px;
}

.user-name {
  font-style: italic;
  font-weight: bold;
}

.message-divider {
  width: 100%;
  height: 0.05em;
  background: green;
  margin-top: 2px;
  margin-bottom: 2px;
}

.message-input {
  overflow-y: hidden;
  height: 30px;
  width: 90%;
  border: 2px solid #E0E0E0;
}

.not-current-thread {
  display: none;
}

.user-name-list-element {
  padding-left: 8px;
}
.user-status-online {
  position: absolute;
  right: 0;
  margin-right: 3px;
  background: red;
}

.user-status-offline {
  position: absolute;
  right: 0;
  margin-right: 3px;
  background: green;
}
